# App
APP_NAME=<app_name>
APP_ENV=<development|production>
DEBUG=<true|false>
SECRET_KEY=<secret-key>

# PostgreSQL
POSTGRES_HOST=<hostname>
POSTGRES_PORT=5432
POSTGRES_DB=<db_name>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>